@import 'base/variables';

@import 'libs/bootstrap-reboot.min';
@import 'libs/font';
@import 'libs/owl.carousel';
@import 'libs/animate';
@import 'libs/decoration';

@import 'blocks/header';
@import 'blocks/info';
@import 'blocks/footer';
@import 'blocks/titles';
@import 'blocks/buttons';
@import 'blocks/slider';
@import 'blocks/media';


* {
    font-family: 'Open Sans', sans-serif;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}