@import 'base/variables';
* {
    font-family: Geneva, Arial, Helvetica, sans-serif;
}
.container {
    max-width: 950px;
    margin: 0 auto;
}
@import 'base/variables';
@import 'blocks/titles';